In [322]:


import numpy as np
import pandas as pd
import pandas_profiling as pp

import matplotlib.pyplot as plt
%matplotlib inline

In [323]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample_submit = pd.read_csv("Sample_Submission_Tm9Lura.csv")

In [324]:

sample_submit.head()

Empty DataFrame
Columns: [User_ID, Product_ID, Purchase]
Index: []

In [325]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [326]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [327]:
train.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [328]:
test.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3'],
      dtype='object')

In [329]:
train.columns.difference(test.columns)

Index(['Purchase'], dtype='object')

In [330]:
print("train size :",train.shape)
print("test size :",test.shape)

train size : (550068, 12)
test size : (233599, 11)

In [331]:

train["source"] = "train"
test["source"] = "test"

In [332]:

train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,train
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,train
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,train
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,train
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,train

In [333]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,source
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN,test
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN,test
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN,test
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN,test
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0,test

In [334]:
dataf = pd.concat([train,test],axis=0,sort=False)

In [335]:
dataf.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0,train
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0,train
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0,train
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0,train
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0,train

In [336]:
dataf.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            245982
Product_Category_3            545809
Purchase                      233599
source                             0
dtype: int64

In [337]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783667 entries, 0 to 233598
Data columns (total 13 columns):
User_ID                       783667 non-null int64
Product_ID                    783667 non-null object
Gender                        783667 non-null object
Age                           783667 non-null object
Occupation                    783667 non-null int64
City_Category                 783667 non-null object
Stay_In_Current_City_Years    783667 non-null object
Marital_Status                783667 non-null int64
Product_Category_1            783667 non-null int64
Product_Category_2            537685 non-null float64
Product_Category_3            237858 non-null float64
Purchase                      550068 non-null float64
source                        783667 non-null object
dtypes: float64(3), int64(4), object(6)
memory usage: 83.7+ MB

In [338]:
dataf.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,7.836670e+05,783667.000000,783667.000000,783667.000000,537685.000000,237858.000000,550068.000000
mean,1.003029e+06,8.079300,0.409777,5.366196,9.844506,12.668605,9263.968713
std,1.727267e+03,6.522206,0.491793,3.878160,5.089093,4.125510,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001519e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003075e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [339]:
dataf.nunique()

User_ID                        5891
Product_ID                     3677
Gender                            2
Age                               7
Occupation                       21
City_Category                     3
Stay_In_Current_City_Years        5
Marital_Status                    2
Product_Category_1               20
Product_Category_2               17
Product_Category_3               15
Purchase                      18105
source                            2
dtype: int64

In [340]:

dataf.shape

(783667, 13)

In [341]:

dataf.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            245982
Product_Category_3            545809
Purchase                      233599
source                             0
dtype: int64

In [342]:
#!pip install pandas-profiling

In [343]:
import pandas_profiling

In [344]:
pandas_profiling.ProfileReport(dataf)

In [345]:
duplicate_bool = dataf.duplicated(subset=dataf.columns, keep='first')
duplicate = dataf.loc[duplicate_bool == True]
duplicate   # returns no rows - means no duplicates

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3, Purchase, source]
Index: []

In [346]:

dataf["Product_ID"].value_counts()

P00265242    2709
P00025442    2310
P00110742    2292
P00112142    2279
P00046742    2084
P00057642    2079
P00184942    2066
P00058042    2014
P00237542    1999
P00145042    1991
P00117942    1985
P00110942    1976
P00059442    1949
P00010742    1922
P00255842    1914
P00110842    1834
P00220442    1833
P00051442    1794
P00117442    1785
P00102642    1782
P00242742    1774
P00148642    1758
P00031042    1737
P00278642    1735
P00080342    1719
P00028842    1713
P00034742    1690
P00251242    1682
P00114942    1673
P00000142    1636
             ...
P00132742       1
P00208642       1
P00309642       1
P00305542       1
P00294942       1
P00053242       1
P00030342       1
P00340742       1
P00082642       1
P00239442       1
P00056642       1
P00104342       1
P00081642       1
P00105742       1
P00042642       1
P00185942       1
P00061642       1
P00211742       1
P00065542       1
P00364342       1
P00308042       1
P00314742       1
P00100242       1
P00350742       1
P00062342       1
P00106242       1
P00270342       1
P00038942       1
P00058842       1
P00069742       1
Name: Product_ID, Length: 3677, dtype: int64

In [347]:
age1 =dataf.groupby("Age").sum()
age1

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
Age,,,,,,,
0-17,21392218265,187480,0,107520,136059.0,81296.0,1.349132e+08
18-25,142350580671,956184,30132,720147,935280.0,556788.0,9.138487e+08
26-35,313989445238,2473710,123215,1653944,2102670.0,1204407.0,2.031771e+09
36-45,157204593279,1385436,61958,855077,1071727.0,602974.0,1.026570e+09
46-50,65486016860,557228,47073,371761,452652.0,247833.0,4.208434e+08
51-55,54947521506,480659,39432,313600,383122.0,209781.0,3.670996e+08
55+,30670348196,290784,19319,183262,211733.0,110250.0,2.007674e+08

In [348]:

dataf.Age.value_counts()

26-35    313015
36-45    156724
18-25    141953
46-50     65278
51-55     54784
55+       30579
0-17      21334
Name: Age, dtype: int64

In [349]:

data_column_category = dataf.select_dtypes(exclude=[np.number]).columns
data_column_category

Index(['Product_ID', 'Gender', 'Age', 'City_Category',
       'Stay_In_Current_City_Years', 'source'],
      dtype='object')

In [350]:
data_column_Integer = dataf.columns.difference(data_column_category)
data_column_Integer

Index(['Marital_Status', 'Occupation', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase', 'User_ID'],
      dtype='object')

In [351]:
dataf.Gender.replace(['M','F'],[0,1], inplace=True)

In [352]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [353]:
values=dataf['Age']
label_encoder=LabelEncoder()
integer_encoded_1=label_encoder.fit_transform(values)

In [354]:
dataf=dataf.drop(["Age"],axis=1)
dataf["Age"] = integer_encoded_1

In [355]:
dataf.head()

,User_ID,Product_ID,Gender,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age
0,1000001,P00069042,1,10,A,2,0,3,NaN,NaN,8370.0,train,0
1,1000001,P00248942,1,10,A,2,0,1,6.0,14.0,15200.0,train,0
2,1000001,P00087842,1,10,A,2,0,12,NaN,NaN,1422.0,train,0
3,1000001,P00085442,1,10,A,2,0,12,14.0,NaN,1057.0,train,0
4,1000002,P00285442,0,16,C,4+,0,8,NaN,NaN,7969.0,train,6

In [356]:
values1=dataf['Product_ID']
label_encoder=LabelEncoder()
integer_encoded_1=label_encoder.fit_transform(values1)

In [357]:
dataf=dataf.drop(["Product_ID"],axis=1)
dataf["Product_ID"] = integer_encoded_1

In [358]:
dataf.head()

,User_ID,Gender,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age,Product_ID
0,1000001,1,10,A,2,0,3,NaN,NaN,8370.0,train,0,684
1,1000001,1,10,A,2,0,1,6.0,14.0,15200.0,train,0,2406
2,1000001,1,10,A,2,0,12,NaN,NaN,1422.0,train,0,868
3,1000001,1,10,A,2,0,12,14.0,NaN,1057.0,train,0,844
4,1000002,0,16,C,4+,0,8,NaN,NaN,7969.0,train,6,2769

In [359]:

dataf.Product_Category_1.value_counts()

5     215950
1     200699
8     162294
11     34440
2      34056
6      29326
3      28791
4      16756
16     13933
15      8984
13      7930
10      7373
12      5610
7       5345
18      4436
20      2550
14      2186
19      1603
17       801
9        604
Name: Product_Category_1, dtype: int64

In [360]:
dataf["Product_Category_1"] = dataf.groupby("Marital_Status").Product_Category_1.transform(lambda x : x.fillna(x.mean()))

In [361]:
dataf["Product_Category_2"] = dataf.groupby("Marital_Status").Product_Category_2.transform(lambda x : x.fillna(x.mean()))

In [362]:
dataf["Product_Category_3"] = dataf.groupby("Occupation").Product_Category_3.transform(lambda x : x.fillna(x.mean()))

In [363]:
dataf.isna().sum()

User_ID                            0
Gender                             0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2                 0
Product_Category_3                 0
Purchase                      233599
source                             0
Age                                0
Product_ID                         0
dtype: int64

In [364]:
data_column_Integer = dataf.columns.difference(data_column_category)
data_column_Integer

Index(['Marital_Status', 'Occupation', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase', 'User_ID'],
      dtype='object')

In [365]:
data_column_category

Index(['Product_ID', 'Gender', 'Age', 'City_Category',
       'Stay_In_Current_City_Years', 'source'],
      dtype='object')

In [366]:
dataf.Age.head()

0    0
1    0
2    0
3    0
4    6
Name: Age, dtype: int64

In [367]:
dataf.City_Category.replace(['A', 'C', 'B'],[1,2,3],inplace=True)

In [368]:

data_column_category = dataf.select_dtypes(exclude=[np.number]).columns
data_column_category

Index(['Stay_In_Current_City_Years', 'source'], dtype='object')

In [369]:
# Droping the user_id column
dataf.drop(['User_ID'], axis=1, inplace=True)

In [370]:

data_column_category = dataf.select_dtypes(exclude=[np.number]).columns
data_column_category

Index(['Stay_In_Current_City_Years', 'source'], dtype='object')

In [371]:

dataf.Stay_In_Current_City_Years.value_counts()

1     276425
2     145427
3     135428
4+    120671
0     105716
Name: Stay_In_Current_City_Years, dtype: int64

In [372]:

dataf.source.value_counts()

train    550068
test     233599
Name: source, dtype: int64

In [373]:
values2=dataf['Stay_In_Current_City_Years']
label_encoder=LabelEncoder()
integer_encoded_2=label_encoder.fit_transform(values2)

In [374]:
dataf=dataf.drop(["Stay_In_Current_City_Years"],axis=1)
dataf["Stay_In_Current_City_Years"] = integer_encoded_2

In [375]:
dataf.head()

,Gender,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age,Product_ID,Stay_In_Current_City_Years
0,1,10,1,0,3,9.772291,11.823740,8370.0,train,0,684,2
1,1,10,1,0,1,6.000000,14.000000,15200.0,train,0,2406,2
2,1,10,1,0,12,9.772291,11.823740,1422.0,train,0,868,2
3,1,10,1,0,12,14.000000,11.823740,1057.0,train,0,844,2
4,0,16,2,0,8,9.772291,12.876114,7969.0,train,6,2769,4

In [376]:
dataf.head()

,Gender,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age,Product_ID,Stay_In_Current_City_Years
0,1,10,1,0,3,9.772291,11.823740,8370.0,train,0,684,2
1,1,10,1,0,1,6.000000,14.000000,15200.0,train,0,2406,2
2,1,10,1,0,12,9.772291,11.823740,1422.0,train,0,868,2
3,1,10,1,0,12,14.000000,11.823740,1057.0,train,0,844,2
4,0,16,2,0,8,9.772291,12.876114,7969.0,train,6,2769,4

In [377]:
dataf=dataf.drop(["Stay_In_Current_City_Years"],axis=1)

In [378]:
dataf.head()

,Gender,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age,Product_ID
0,1,10,1,0,3,9.772291,11.823740,8370.0,train,0,684
1,1,10,1,0,1,6.000000,14.000000,15200.0,train,0,2406
2,1,10,1,0,12,9.772291,11.823740,1422.0,train,0,868
3,1,10,1,0,12,14.000000,11.823740,1057.0,train,0,844
4,0,16,2,0,8,9.772291,12.876114,7969.0,train,6,2769

In [379]:
data_model=pd.concat([dataf,dataf_one_hot],axis=1)

In [380]:
data_model.head()

,Gender,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age,Product_ID,0,1,2,3,4+
0,1,10,1,0,3,9.772291,11.823740,8370.0,train,0,684,0,0,1,0,0
1,1,10,1,0,1,6.000000,14.000000,15200.0,train,0,2406,0,0,1,0,0
2,1,10,1,0,12,9.772291,11.823740,1422.0,train,0,868,0,0,1,0,0
3,1,10,1,0,12,14.000000,11.823740,1057.0,train,0,844,0,0,1,0,0
4,0,16,2,0,8,9.772291,12.876114,7969.0,train,6,2769,0,0,0,0,1

In [381]:
data_model.shape

(783667, 16)

In [382]:
dataf_one_hot1 = pd.get_dummies(dataf["source"].drop(columns = "source"))
dataf_one_hot1.head()

   test  train
0     0      1
1     0      1
2     0      1
3     0      1
4     0      1

In [383]:
dataf_one_hot1.head()

   test  train
0     0      1
1     0      1
2     0      1
3     0      1
4     0      1

In [384]:
dataf=dataf.drop(["source"],axis=1)

In [385]:
data_model1=pd.concat([data_model,dataf_one_hot1],axis=1)
data_model1.head()

,Gender,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age,Product_ID,0,1,2,3,4+,test,train
0,1,10,1,0,3,9.772291,11.823740,8370.0,train,0,684,0,0,1,0,0,0,1
1,1,10,1,0,1,6.000000,14.000000,15200.0,train,0,2406,0,0,1,0,0,0,1
2,1,10,1,0,12,9.772291,11.823740,1422.0,train,0,868,0,0,1,0,0,0,1
3,1,10,1,0,12,14.000000,11.823740,1057.0,train,0,844,0,0,1,0,0,0,1
4,0,16,2,0,8,9.772291,12.876114,7969.0,train,6,2769,0,0,0,0,1,0,1

In [386]:
train_modified=data_model1.loc[data_model1.train==1,:]
test_modified=data_model1.loc[data_model1.train==0,:]
train_modified.shape

(550068, 18)

In [387]:
test_modified.shape

(233599, 18)

In [388]:
test_modified.head()

,Gender,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source,Age,Product_ID,0,1,2,3,4+,test,train
0,0,7,3,1,1,11.0,12.819770,NaN,test,4,1216,0,0,1,0,0,1,0
1,0,17,2,0,3,5.0,12.790402,NaN,test,2,1063,1,0,0,0,0,1,0
2,1,1,3,1,5,14.0,12.763648,NaN,test,3,2799,0,0,0,0,1,1,0
3,1,1,3,1,4,9.0,12.763648,NaN,test,3,1379,0,0,0,0,1,1,0
4,1,1,2,0,4,5.0,12.000000,NaN,test,2,535,0,1,0,0,0,1,0

In [389]:
train_modified.columns

Index(['Gender', 'Occupation', 'City_Category', 'Marital_Status',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Purchase', 'source', 'Age', 'Product_ID', '0', '1', '2', '3', '4+',
       'test', 'train'],
      dtype='object')

In [390]:
test_modified.columns

Index(['Gender', 'Occupation', 'City_Category', 'Marital_Status',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Purchase', 'source', 'Age', 'Product_ID', '0', '1', '2', '3', '4+',
       'test', 'train'],
      dtype='object')

In [392]:
test_modified.drop(columns=['test', 'train','Purchase','source'],inplace=True)
train_modified.drop(columns=['test', 'train','source'],inplace=True)

C:\Users\Kalaivani\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [393]:
train_modified.to_csv("train_ready_for_model.csv",index=False)
test_modified.to_csv("test_ready_for_model.csv",index=False)